.releated {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #1C1C1C;;
}

.releated__list {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($mobile-bp) {
        flex-direction: column;
    }
}

.releated__list-item {
    width: 50%;
    margin-bottom: 2.5rem;

    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}

.releated__list-title {
    font-size: 1.4rem;
    font-family: 500;
    color: #F3EBA2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;


    a {
        color: inherit;
    }
}

.releated__list-date {
    font-size: 1.2rem;
    color: #828282;
}